{{> header }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Noche Estrellada</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis accusantium sequi voluptates rem ea nam voluptatem facilis amet totam reiciendis officia, molestiae deserunt nemo, odit ipsum eaque excepturi dolores ducimus.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/245.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}